<html ng-app="AngularJSHomework1">
    <head>
        <!-- from Google Hosted Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
        <script lang="javascript">
        
            var myModule = angular.module('AngularJSHomework1', []);
            
            //first register the controller - https://docs.angularjs.org/guide/migration
            myModule.controller('PayController', 
                //we make an AngularJS controller right here in the template (we won't normally do this though)
                function ($scope) {
                    
                    
                    myModule.controller('PayController')
                    var pc = this;
                    
                    pc.bill = 0.00;
                    pc.add_tax = true;
                    pc.add_tip = true;
                    pc.add_gratuity = true;
                    pc.total_bill = true;
                    
                    function update(){
                        pc.tax = pc.add_tax ? pc.bill * pc.state_tax.amount : 0.0000; 
                        pc.tip = pc.add_tip ? pc.bill * pc.tip_size.amount : 0.00;
                        pc.gratuity = pc.add_gratuity ? pc.bill * pc.gratuity_type.amount : 0.00;
                        pc.total = parseFloat(pc.bill) + pc.tax + pc.tip + pc.gratuity; 
                    }
                    
                    //used to detect when bill changes
                    $scope.$watch('pc.bill', update);
                    $scope.$watch('pc.add_tax', update);
                    $scope.$watch('pc.add_tip', update);
                    $scope.$watch('pc.add_gratuity', update);
                    $scope.$watch('pc.state_tax', update);
                    $scope.$watch('pc.tip_size', update);
                    $scope.$watch('pc.gratuity_type', update);
                    $scope.$watch('pc.bill + pc.tax + pc.tip + pc.gratuity', update);
                    
                    
                    //shipping options
                    pc.tax_rate = [
                        {amount:0.0891, name:"Alabama"},
                        {amount:0.0176, name:"Alaska"},
                        {amount:0.0817, name:"Arizona"},
                        {amount:0.0926, name:"Arkansas"},
                        {amount:0.0844, name:"California"},
                        {amount:0.0744, name:"Colorado"},
                        {amount:0.0635, name:"Connecticut"},
                        {amount:0.0000, name:"Delaware"},
                        {amount:0.0575, name:"D.C."},
                        {amount:0.0665, name:"Florida"},
                        {amount:0.0696, name:"Georgia"},
                        {amount:0.0435, name:"Hawaii"},
                        {amount:0.0601, name:"Idaho"},
                        {amount:0.0819, name:"Illinois"},
                        {amount:0.0700, name:"Indiana"},
                        {amount:0.0678, name:"Iowa"},
                        {amount:0.0820, name:"Kansas"},
                        {amount:0.0600, name:"Kentuky"},
                        {amount:0.1175, name:"Louisiana"},
                        {amount:0.0550, name:"Maine"},
                        {amount:0.0600, name:"Maryland"},
                        {amount:0.0625, name:"Massachusetts"},
                        {amount:0.0600, name:"Michigan"},
                        {amount:0.0720, name:"Minnesota"},
                        {amount:0.0707, name:"Mississippi"},
                        {amount:0.0781, name:"Missouri"},
                        {amount:0.0000, name:"Montana"},
                        {amount:0.0680, name:"Nebraska"},
                        {amount:0.0794, name:"Nevada"},
                        {amount:0.0000, name:"New Hampshire"},
                        {amount:0.0697, name:"New Jersey"},
                        {amount:0.0513, name:"New Mexico"},
                        {amount:0.0848, name:"New York"},
                        {amount:0.0690, name:"North Carolina"},
                        {amount:0.0656, name:"North Dakota"},
                        {amount:0.0710, name:"Ohio"},
                        {amount:0.1100, name:"Oklahoma"},
                        {amount:0.0000, name:"Oregon"},
                        {amount:0.0634, name:"Pennsylvania"},
                        {amount:0.0700, name:"Rhode Island"},
                        {amount:0.0713, name:"South Carolina"},
                        {amount:0.0583, name:"South Dakota"},
                        {amount:0.0945, name:"Tennessee"},
                        {amount:0.0825, name:"Texas"},
                        {amount:0.0668, name:"Utah"},
                        {amount:0.0614, name:"Vermont"},
                        {amount:0.0563, name:"Virginia"},
                        {amount:0.0889, name:"Washington"},
                        {amount:0.0607, name:"West Virginia"},
                        {amount:0.0543, name:"Wisconsin"},
                        {amount:0.0547, name:"Wyoming"},
                        
                        
                        
                    ];
                    
                    pc.state_tax = pc.tax_rate[0];
                    
                    pc.tip_rate = [
                        {amount:0.00, name:"No Tip"},
                        {amount:0.10, name:"10% Tip"},
                        {amount:0.15, name:"15% TIp"},
                        {amount:0.20, name:"20% Tip"}
                    ];
                    pc.tip_size = pc.tip_rate[0];
                    
                    pc.gratuity_rate = [
                        {amount:0.00, name:"No Gratuity"},
                        {amount:0.20, name:"20% Gratuity Tip"}
                    ];
                    pc.gratuity_type = pc.gratuity_rate[0];
                }
            );
        </script>
    </head>
    <body>
        <div ng-controller="PayController as pc">
            <p>
                Cost: <input type="text" ng-model="pc.bill" placeholder="Bill" /><br/>
            </p>
            <p>
                Tax: <select ng-model="pc.state_tax" ng-options="s.name for s in pc.tax_rate"></select>
            </p>
            <p>
                Tip: <select ng-model="pc.tip_size" ng-options="n.name for n in pc.tip_rate"></select>
            </p>
            <p>
                Gratuity: <select ng-model="pc.gratuity_type" ng-options="g.name for g in pc.gratuity_rate"></select>
            </p>
            <p>
                <!-- the angular directive both associates with the bill model and
                uses a built-in formatting capability -->
                This is your bill: {{pc.bill|currency}}
            </p>
            <p>
                This is your tax: {{pc.tax|currency}}
            </p>
            <p>
                This is your None Gratuity Tip: {{pc.tip|currency}}
            </p>
            <p>
                This is your Gratuity: {{pc.gratuity|currency}}
            </p>
            <p ng-show="pc.total_bill">
                This is your total: {{pc.total|currency}}
            </p>
           
            
        </div>
    </body>
</html>