<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Search" icon-on="ios-search" icon-off="ios-search-outline" ui-sref="tabs.search">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" ui-sref="tabs.settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Weather" icon-on="ion-ios-cloud" icon-off="ion-ios-cloud-outline" ui-sref="tabs.weather">
    <ion-nav-view name="weather-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>